.navbar {
  height: 100px;
  border-bottom-style: none;
  border-bottom-width: 0rem;
  border-bottom-color: rgb(250, 221, 60);
}
.navbar-brand {
  width: 100px;
  height: 80px;
  color: black;
}

.nav-link {
  margin-right: 30px;
  font-size: 20px;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}

ul > li > a {
  text-decoration: none;
}

.navbar-collapse {
  border: 1px solid red;

  background-color: rgb(233, 233, 233);
  font-size: 20px;
}
